.product-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0 0;
  font-size: larger;
}

@media screen and (max-width: 768px) {
  .product-price-wrapper {
    margin: 4px 0;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .product-price-wrapper {
    margin: 4px 0;
  }
}