.product-details-banner-trending:before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 45px solid $colorTrending;
  border-right: 15px solid transparent;
  position: absolute;
  left: 100%;
  top: 0px;
}
.product-details-banner-trending {
  position: absolute;
  top: 0;
  left: 2% auto;
  color: #ffffff;
  background-color: $colorTrending;
  border-color: $colorTrending;
  padding: 12px;
  // border-radius: 2px 2px;
  font-size: 14px;
}
.product-details-price {
  font-size: 16px;
  color: $blackColor;
}

.out-of-stock-notice {
  text-align: center;
  color: $themeColor;
}

.product-price-after-discount,
.product-price-before-discount {
  font-size: larger;
  color: $blackColor;
  margin: 0 8px;
}

.product-price-before-discount {
  text-decoration: line-through;
}

.product-discount-rate {
  color: $colorGreen;
}

.product-price-whit-no-discount {
  font-size: larger;
  color: $colorGrey;
}

.product-price {
  font-size: 16px;
  color: $blackColor;
}
