@import "colors";

.map-wrapper{
  display: flex;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.contact-details-wrapper {
  display: flex;
  justify-content: space-between;

  &>div {
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
  }

  .address-details-wrapper {
    flex-basis: 38%;

    address{
      font-style: normal;
      line-height: 1.3;
      margin-bottom: 16px;
    }

    a {
      text-decoration: none;
      margin-bottom: 0.5rem;
      color: $blackColor;
      display: flex;

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .contact-form-wrapper {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 768px) {
  .contact-details-wrapper {
    flex-direction: column;

    &>div {
      flex-basis: 100%;
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {}