.footer-wrapper {
  background-color: #242424;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer-wrapper a {
  color: #fff;
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-basis: 12%;
  margin: 0 2rem;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items a {
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: flex;
}

.footer-link-items svg {
  margin-right: 0.5rem;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.social-icon-link {
  font-size: 24px;
}

.social-media-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 2.5rem auto 0;
}

.social-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fabButton{
  position: fixed !important;
  right: 20px;
  bottom: 20px;
  z-index: 10;

  svg {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-links {
    justify-content: unset;
    padding: 0 0.5rem;
  }

  .footer-link-items {
    flex-basis: 100%;
    margin: 0 0.5rem;

    h2 {
      font-size: 16px;
    }

    a {
      font-size: 14px;
    }
  }

  .social-media-wrap {
    flex-direction: column;
    margin: 1rem auto 3rem;
  }

  .social-logo {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .social-media-wrap {
    margin: 0.5rem auto 2.5rem;
  }
}