@import "colors";
@import "product_price_status";

.product-wrapper {
  padding: 20px;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

.product-wrapper > div {
  flex-basis: 50%;
}

.product-image-wrapper {
  display: flex;
  justify-content: center;
  
  .product-image-main{
    width: 300px;
  }
}

.product-description{
  margin: 0.5rem 0 1rem;
}

.product-features-list{
  margin-left:2rem;
}
